@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
   --color-primary: #D6A23F; 
  /* --color-secondary: #3d9970; */
  /* --color-base-100: #f4f9f7; */
  --color-base-200: #BFBFBF;
   --color-base-300: #8c8c8c;
  /* --color-info: #64a287;*/
  --color-neutral: #1A1A1A; 
  --color-accent: #D32F2F;
  --color-success: #FAF7F2; 
}

.active {
  color: #D6A23F;
}

body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #FAF7F2;
}

.elegant{
  font-family: "Cormorant", serif;
  font-style: normal;
}