@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
   --color-primary: #D6A23F; 
  /* --color-secondary: #3d9970; */
  /* --color-base-100: #f4f9f7; */
  --color-base-200: #BFBFBF;
  /* --color-base-300: #8db8a5;
  --color-info: #64a287;
  --color-neutral: #628974;*/
  --color-accent: #D32F2F;
  --color-success: #FAF7F2; 
}

.active {
  color: #D6A23F;
}